@media (max-width: 440px) {
  .header {
    position: fixed;
    height: 118px;
    width: 100vw;
    z-index: 1;
    margin-top: 30px;
    padding-left: 30px;
  }
  .header .logo {
    background-image: url("./images/mobile/logo_m.png");
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 100px;
  }
  .header.hide {
    display: none;
  }
  .section {
    text-align: center;
  }
  .section0 {
    background-image: url("./images/kv.jpg");
    background-size: cover;
    background-position: center;
  }
  .section0 .desc {
    margin: auto;
    font-size: 24px;
    color: white;
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section0 .desc .logo {
    background-image: url("./images/mobile/kv_logo_m.png");
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 109px;
    margin: auto;
    margin-bottom: 40px;
  }
  .section0 .desc .pc .desc-content {
    background-image: url("./images/mobile/kv-tittle_m.png");
    width: 271px;
    height: 105px;
  }
  .section0 .desc .num {
    color: #fff33f;
    font-size: 36px;
    font-family: palatino;
  }
  .section0 .desc .phone {
    width: 320px;
    height: 60px;
    background-image: url("./images/mobile/kv_btn_m.png");
  }
  .section0 .desc .phone .phone_title {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .section1 {
    background-image: url("./images/part01.jpg");
    background-size: cover;
    background-position: center;
  }
  .section1 .square .desc {
    background-image: url("./images/mobile/part01_tittle_m.png");
    width: 160px;
    height: 60px;
    margin: 0px auto;
  }
  .section2 .cover .square {
    background-image: url("./images/mobile/part02_tittle_m.png");
    background-size: cover;
    width: 150px;
    height: 84px;
  }

  .slide2_1 {
    background-image: url("./images/part02_01.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .slide2_2 {
    background-image: url("./images/part02_02.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .slide2_3 {
    background-image: url("./images/part02_03.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .section3 {
    background-image: url("./images/part03.jpg");
    background-size: cover;
    background-position: center;
  }
  .section3 .square .desc {
    background-image: url("./images/mobile/part03_tittle_m.png");
    width: 174px;
    height: 84px;
    margin: 0px auto;
  }
  .section4 {
    background-image: url("./images/part04.jpg");
    background-size: cover;
    background-position: center;
  }
  .section4 .cover .square {
    background-image: url("./images/mobile/part04_tittle_m.png");
    width: 174px;
    height: 84px;
    margin: 0px auto;
  }
  .section5 {
    background-image: url("./images/part05.jpg");
    background-size: cover;
    background-position: center;
  }
  .section5 .square .desc {
    background-image: url("./images/mobile/part05_tittle_m.png");
    width: 198px;
    height: 84px;
    margin: 0px auto;
  }
  .section6 {
    background-image: url("./images/part06.jpg");
    background-size: cover;
    background-position: center;
  }
  .section6 .square .desc {
    background-image: url("./images/mobile/part06_tittle_m.png");
    width: 174px;
    height: 84px;
    margin: 0px auto;
  }
  .section7 {
    background-image: url("./images/part07.jpg");
    background-size: cover;
    background-position: center;
  }
  .section7 .cover .square {
    background-image: url("./images/mobile/part07_tittle_m.png");
    width: 126px;
    height: 84px;
  }
  .section7 .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section7 .wrap .pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-top: 40px;
    width: 358px;
  }
  .section7 .wrap .pic .pic_item {
    width: 106px;
    height: 106px;
  }
  .section7 .wrap .pic .pic_item .desc {
    margin-top: 18px;
    color: white;
  }
  .section7 .wrap .pic .pic_item .img1 {
    background-image: url("./images/part07_bud01.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .section7 .wrap .pic .pic_item .img2 {
    background-image: url("./images/part07_bud02.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .section7 .wrap .pic .pic_item .img3 {
    background-image: url("./images/part07_bud03.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .section8 {
    background-image: url("./images/kv.jpg");
    background-size: cover;
    background-position: center;
  }
  .section8 .desc {
    margin: auto;
    font-size: 24px;
    color: white;
  }
  .section8 .desc .pc .desc-content {
    background-image: url("./images/mobile/footer_tittle_m.png");
    width: 360px;
    height: 63px;
  }
  .section8 .desc .logo {
    background-image: url("./images/mobile/footer_logo_m.png");
    margin: 0px auto;
    width: 130px;
    height: 79px;
  }
  .section8 .desc .map {
    background-image: url("./images/map.png");
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .section8 .desc .num {
    color: #fff33f;
    font-size: 32px;
    font-family: palatino;
  }
  .section8 .desc .num.white {
    color: white;
  }
  .section8 .desc .phone {
    background-image: url("./images/mobile/footer_btn01_m.png");
    width: 320px;
    height: 60px;
  }
  .section8 .desc .phone .phone_item {
    display: flex;
  }
  .section8 .desc .phone_m {
    display: block;
    background-image: url("./images/mobile/footer_btn02_m.png");
    width: 320px;
    height: 60px;
    background-size: cover;
    margin: 0px auto;
    margin-top: 10px;
  }
  /* square */
  .square_wrap {
    display: flex;
    justify-content: flex-end;
  }
  .square {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .square.mid {
    justify-content: center;
  }
  .square-bg {
    padding-right: 0px;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .square .content {
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 18px;
  }
  /* square END */
  /* cover */
  .cover {
    z-index: 2;
    top: 20%;
    width: 100vw;
  }
  .cover.bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 414px;
  }
  .cover .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .cover.bg .desc {
    height: 414px;
  }
  .cover .content {
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 30px;
  }
  .cover .content.wrap {
    width: 282px;
  }
  /* cover END */
  /* arrow  */
  .arrow_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 24px);
    bottom: 30px;
    z-index: 2;
  }
  .arrow {
    width: 48px;
    height: 48px;
    background-image: url("./images/next.png");
  }
  .arrow:hover {
    cursor: pointer;
  }
  .arrow.gototop {
    background-image: url("./images/top.png");
  }
  /* arrow END */
}
